<div
  class="minHeightPadding bgCommonInputForm"
  [ngClass]="inputFormData.disabledDiv ? 'disabledDiv' : ''"
>
  <label class="formLabel formNameLableCommon">Property Economics</label>
  <div>
    <div>
      <div class="flexDisplay">
        <div class="inputField">
          <span class="whiteSpaceNoWrap">
            <label class="label inputFieldLabelCommon">Exit Strategy</label>
          </span>
          <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
            <mat-select [value]="strategies[0] || ''">
              <mat-option
                *ngFor="let valueToDisplay of strategies"
                [value]="valueToDisplay"
                >{{ valueToDisplay }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="inputField">
          <span class="whiteSpaceNoWrap">
            <label class="label inputFieldLabelCommon">Gross Rents</label>
          </span>
          <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
            <input matInput type="number" placeholder="0" required />
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>
      </div>
      <div class="sell">SELL</div>

      <div class="flexDisplay">
        <div class="inputField">
          <span class="whiteSpaceNoWrap">
            <label class="label inputFieldLabelCommon">Profitablity $</label>
            <span
              [matTooltip]="
                'Profitability of profit after a year of expenses and costs of selling at ARV'
              "
              [matTooltipPosition]="'below'"
            >
              <mat-icon class="infoIcon"> info </mat-icon>
            </span>
          </span>
          <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
            <input matInput type="text" />
          </mat-form-field>
        </div>

        <div class="inputField">
          <span class="whiteSpaceNoWrap">
            <label class="label inputFieldLabelCommon">Profitablity %</label>
            <span
              [matTooltip]="
                'Percentage of profit after a year of expenses and costs of selling at ARV'
              "
              [matTooltipPosition]="'below'"
            >
              <mat-icon class="infoIcon"> info </mat-icon>
            </span>
          </span>
          <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
            <input matInput type="number" placeholder="0" />
            <span matSuffix>%&nbsp;</span>
          </mat-form-field>
        </div>
      </div>
      <div class="sell">HOLD</div>
    </div>
  </div>
</div>
