<div
  class="minHeightPadding bgCommonInputForm"
  [ngClass]="disableDiv ? 'disabledDiv' : ''"
>
  <label class="formLabel formNameLableCommon">{{ formLabel }}</label>
  <form [formGroup]="step1InputForm">
    <div class="items">
      <div class="inputField">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">FICO</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input matInput type="number"  formControlName="fico" />
        </mat-form-field>
      </div>

      <div class="inputField">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Loan Purpose</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <mat-select formControlName="loan_purpose" (selectionChange)="onChangeLoanPurchase($event)">
            <mat-option
              *ngFor="let valueToDisplay of loanPurpose"
              [value]="valueToDisplay"
              >{{ valueToDisplay }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputField">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Experience</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input matInput type="number"  formControlName="experience" />
        </mat-form-field>
      </div>

      <div class="inputField">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Property Type</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <mat-select formControlName="property_type" (selectionChange)="onChangePropertyType($event)">
            <mat-option
              *ngFor="let valueToDisplay of propertyType"
              [value]="valueToDisplay"
              >{{ valueToDisplay }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inputField">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Appraised Value</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input
            matInput
            type="number"
            placeholder="0"
            formControlName="appraised_value"
          />
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="inputField" *ngIf="!showUPB">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Purchase Price</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input
            matInput
            type="number"
            placeholder="0"
            required
            formControlName="purchase_price"
          />
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="inputField" *ngIf="showUPB">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">UPB</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input
            matInput
            type="number"
            placeholder="0"
            required
            formControlName="upb"
          />
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="inputField" *ngIf="tabNameSelected ==='LTR'">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">No. Units</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input
            matInput
            type="number"
            formControlName="units"
          />
        </mat-form-field>
      </div>

      <div class="inputField" *ngIf="tabNameSelected ==='LTR'">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Zip Code</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input matInput type="number"  formControlName="zip_code" />
        </mat-form-field>
      </div>

      <div class="inputField" *ngIf="tabNameSelected ==='Rehab'">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Rehab Amount</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input matInput type="number"  formControlName="rehab_amount" />
        </mat-form-field>
      </div>

      <div class="inputField" *ngIf="tabNameSelected ==='Rehab'">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">ARV</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input matInput type="text" formControlName="arv" />
        </mat-form-field>
      </div>

      <div class="inputField" *ngIf="showAcquisitionDate">
        <span class="whiteSpaceNoWrap">
          <label class="label inputFieldLabelCommon">Acquisition Date</label>
        </span>
        <mat-form-field appearance="outline" [ngClass]="getClassToApply()">
          <input matInput type="text" formControlName="acquisition_date" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
