<div class="formsWrapper">
  <div class="inputFormsContainer">
    <div class="singleFormWrapper">
      <app-step1-input-form
        [isToggled]="isToggled"
        [tabNameSelected]="tabNameSelected"
        [dataToFillInForms]="dataToFillInForms"
        [isEdit]="isEdit"
        (formUpdated)="formUpdated.emit()"
      ></app-step1-input-form>
    </div>

    <div class="singleFormWrapper">
      <app-step2-input-form
        [isToggled]="isToggled"
        [tabNameSelected]="tabNameSelected"
        [dataToFillInForms]="dataToFillInForms"
        [isEdit]="isEdit"
        (formUpdated)="formUpdated.emit()"
      ></app-step2-input-form>
    </div>

    <div class="singleFormWrapper">
      <app-property-economics-input-form
        [isToggled]="isToggled"
        [tabNameSelected]="tabNameSelected"
        [dataToFillInForms]="dataToFillInForms"
        [isEdit]="isEdit"
        (formUpdated)="formUpdated.emit()"
      ></app-property-economics-input-form>
    </div>
  </div>

  <div class="singleFormWrapperView bgCommonInputForm">
    <app-rate-stack [rateStackResponseReceived]="rateStackResponseReceived" 
    (onRateStackSelectedRow)="onRateStackSelectedRow($event)"></app-rate-stack>
  </div>
  <div class="singleFormWrapperView bgCommonInputForm">
    <app-eligibility-loan-terms [messages]="messages" [tabNameSelected]="getKeyByName(tabNameSelected)"></app-eligibility-loan-terms>
  </div>
  <div class="singleFormWrapperView bgCommonInputForm">
    <app-calculated-values 
    [formDataEnteredByUser]="formDataEnteredByUser"
    [calculatedValues]="calculatedValues"
    [dataToFillInForms]="dataToFillInForms" [rateStackResponseReceived]="rateStackResponseReceived"></app-calculated-values>
  </div>
</div>

