<div class="formsWrapper">
  <div class="inputFormsContainer">
    <div class="singleFormWrapper">
      <app-step1-input-form
        [isToggled]="isToggled"
        [tabNameSelected]="tabNameSelected"
        [dataToFillInForms]="dataToFillInForms"
      ></app-step1-input-form>
    </div>

    <div class="singleFormWrapper">
      <app-step2-input-form
        [isToggled]="isToggled"
        [tabNameSelected]="tabNameSelected"
        [dataToFillInForms]="dataToFillInForms"
      ></app-step2-input-form>
    </div>

    <div class="singleFormWrapper">
      <app-property-economics-input-form
        [isToggled]="isToggled"
        [tabNameSelected]="tabNameSelected"
        [dataToFillInForms]="dataToFillInForms"
      ></app-property-economics-input-form>
    </div>
  </div>

  <div class="singleFormWrapperView bgCommonInputForm">
    <app-rate-stack [rateStackResponseReceived]="rateStackResponseReceived"></app-rate-stack>
  </div>
  <div class="singleFormWrapperView bgCommonInputForm">
    <app-eligibility-loan-terms></app-eligibility-loan-terms>
  </div>
  <div class="singleFormWrapperView bgCommonInputForm">
    <app-calculated-values></app-calculated-values>
  </div>
</div>
