<div>
  <div class="bodySection commonBgThemeBased bgTabCommon paddingLeft5Percent">
    <mat-tab-group
      mat-align-tabs="start"
      (selectedIndexChange)="onTabChange($event)"
      topTabs
    >
      <div *ngFor="let singleSection of sections">
        <mat-tab [label]="singleSection.labelValue">{{ "" }}</mat-tab>
      </div>
    </mat-tab-group>
  </div>
  <div class="pricingButton">
    <mat-form-field appearance="outline" class="loanType">
      <mat-select
        (selectionChange)="typeChanged($event)"
        [value]="typeSelected"
      >
        <mat-option *ngFor="let type of typesOfLoan" [value]="type">{{
          type
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="loanType">
      <input
        matInput
        type="number"
        placeholder="Enter Atlas ID"
        [disabled]="typeSelected !== 'Existing Loan'"
        [(ngModel)]="atlasId"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="getPricingById()">
      Get Pricing
    </button>
  </div>
  <div class="bodySection">
    <app-section-tab
      [singleSectionTab]="tabDataToDisplay"
      [isToggled]="isToggled"
      [tabNameSelected]="tabNameSelected"
      [dataToFillInForms]="dataToFillInForms"
      [rateStackResponseReceived]="rateStackResponseReceived"
      [formDataEnteredByUser]="formDataEnteredByUser"
    ></app-section-tab>
  </div>
</div>
